
<div class="container">
  <div class="row">
    <h1>Scraper Admin</h1>
  </div>

  <div class="row">

    <div class="col-md-3 ">
      <button id="scrape-geeks" class=" btn btn-primary">Scrape Geeks</button>
    </div>
    <div class="col-md-3 ">
      <button id="scrape-stump" class="btn btn-danger">Scrape Stump</button>
    </div>
    <div class="col-md-3 ">
      <button id="scrape-brain" class="btn btn-success">Scrape Brainstormer</button>
    </div>
    <div class="col-md-3 ">
      <button id="scrape-sporcle" class="btn btn-info">Scrape Sporcle</button>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <h3>Scrape Results</h3>
      <div id="results">


      </div>
    </div>
  </div>
</div>



