<div class="container weekly-schedule">

    <div class="row schedule-header">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <h2 class="col-xs-12">Weekly Schedule</h2>
                <div class="col-xs-6 col-xs-offset-3 header-line"></div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-0">
            <select class="form-control" ng-model="day" ng-change="dayChanged()">
                <option selected value="all">All</option>
                <option value="sunday">Sunday</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
            </select>
        </div>
    </div>



    <div ng-repeat="(day, bars) in barList" ng-if ="bars.length != 0" class ="day-section">

        <!-- Day Header -->
        <div class="row" >
            <div class="col-md-12">
                <h3>{{day | capitalize}}</h3>
            </div>
        </div>

        <!-- Bar line item -->
        <div ng-init="limit = 5">
            <div class="row bar-line-item" ng-repeat= "bar in bars | limitTo: limit as results">
                <div class="col-md-2 col-md-offset-2 time-field col-sm-6">
                    <span>{{bar.trivia_time}}</span>
                </div>
                <div class="col-md-4 name-field col-sm-6">
                    <span>{{bar.name}}</span>
                </div>
                <div class="col-md-4 col-md-push-0 address-field col-sm-6 col-sm-push-6">
                    <div class="row">
                        <div class="col-md-12">
                           <span>{{ bar.address }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>{{ bar.city }}, {{bar.state}} {{bar.zip}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <a class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5"
                        ng-hide="results.length >= bars.length"
                        ng-click="limit = 1000">Show All</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 day-section-break"></div>
        </div>
    </div>
</div>