<div ng-controller="HomeController" ng-cloak>


  <!-- pre-populated bar and location data -->
  <%= content_tag "div", id: "default-data", data:  {preloaded: @default_data} do %>
  <% end %>


  <!-- location-->
  <search-header location="location"> </search-header>

  <!-- map -->
  <div id="map" style="width: 1000px; height: 600px;"></div>

  <!-- weekly schedule -->
  <weekly-schedule bars="barList"></weekly-schedule>


</div>
