<div ng-controller="HomeController" ng-cloak>


  <!-- pre-populated bar and location data -->
  <%= content_tag "div", id: "default-data", data:  {preloaded: @default_data} do %>
  <% end %>


  <!-- location-->
  <div id="search-header">
    <div class="container">
      <div class= "row">
        <h1 class="col-md-12">Trivia Compass</h1>
      </div>

      <div class="row trivia-copy">
        <div class="col-md-8 col-md-offset-2">
          <p class="play-copy-1">Feel like playing some trivia?</p>
          <p class="play-copy-2">Enter your location below to find bar trivia closest to you.</p>
        </div>
      </div>

      <div class="row" id="input-block">
        <div class="col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-2">
          <input id="autocomplete" placeholder="Where are you?" type="text"/> <!-- onFocus="geolocate()" -->
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <button ng-click="findClick()">Find a Bar</button>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class= "row">
        <h2 class="col-md-12">{{location.name}}</h2>
      </div>
    </div>

  <!-- map -->
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="map"></div>
    </div>
  </div>

  <!-- weekly schedule -->
  <weekly-schedule bars="barList"></weekly-schedule>


</div>
