<div class="container" ng-controller = "HomeController" ng-cloak>


  <!-- pre-populated bar by day data -->
  <%= content_tag "div", id: "bar-data", data: {bars: @bars_by_day } do %>
  <% end %>

  <!-- pre-populated location data -->
  <%= content_tag "div", id: "location-data", data: {location: @location } do %>
  <% end %>


  <!-- location-->
  <div class="row">
    <div class="col-md-12">
      <h2>{{location}} </h2>
    </div>
  </div>

  <div id="locationField">
    <input id="autocomplete" placeholder="Enter your address" type="text"></input> <!-- onFocus="geolocate()" -->
  </div>

  <button ng-click = "clearList()"> Clear</button>
  <button ng-click = "populateList()"> Populate</button>
  <!-- map -->
  <div id="map" style="width: 1000px; height: 600px;"></div>


  <!-- weekly schedule -->
  <weekly-schedule bars="barList"></weekly-schedule>


</div>
