<div class="container" ng-controller = "HomeController" ng-cloak>


  <!-- pre-populated bar and location data -->
  <%= content_tag "div", id: "default-data", data:  {preloaded: @default_data} do %>
  <% end %>


  <!-- location-->
  <div class="row">
    <div class="col-md-12">
      <h2>{{location.name}} </h2>
    </div>
  </div>

  <div id="locationField">
    <input id="autocomplete" placeholder="Enter your address" type="text"></input> <!-- onFocus="geolocate()" -->
  </div>

  <!-- map -->
  <div id="map" style="width: 1000px; height: 600px;"></div>


  <!-- weekly schedule -->
  <weekly-schedule bars="barList"></weekly-schedule>


</div>
