.home {


  h2, h3, p, div {
    letter-spacing: 1px;
  }

    #map {
      width: 100%;
      height: 545px;
    }

  .weekly-schedule {
    padding-top: 80px;

    select{
      margin-top: 15px;
    }

    h2{
      margin-bottom: 15px;
      text-align: center;
      font-family: Montserrat-Bold, sans-serif;
      font-size: 36px;
      color: $color-orange;
    }

    .header-line{
      border: 2px solid $color-orange;
      margin-bottom: 50px;
    }

    h3{
      font-family: Montserrat-Regular, sans-serif;
      font-size: 24px;
      text-align: center;
      color: $color-grey;
      margin-bottom: 25px;
    }

    span{
      font-family: Montserrat-Light, sans-serif;
      font-size: 18px;
      text-align: center;
    }


    .day-section{
      margin-bottom: 35px;

      a{
        color: $color-orange;
        font-family: Montserrat-Light, sans-serif;
        font-size: 15px;
        margin-bottom: 45px;
        cursor: pointer;
        text-align:center;
        text-decoration: underline;
      }

      .bar-line-item{
        margin-bottom: 30px;

        .time-field{
          text-align: center;

          @media(max-width: 767px){
            font-weight: bold;
          }
        }

        .name-field{
          text-align:center;
        }

        .address-field{
          text-align: left;

          @media(max-width: 991px){
            text-align:center;
            margin-top: 10px;
          }
        }
      }

      .day-section-break{
        border-bottom: 1px solid rgba(88,89,91,.5);

      }

      &:last-child{
        margin-bottom: 120px;

        .day-section-break{
          display:none;
        }

      }

    }

  }

  .marker-window{

    .marker-name{
      font-family: Montserrat-Regular, sans-serif;
      font-size: 18px;
      color: $color-orange;
      text-align:center;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .marker-address{
      font-family: Montserrat-Light, sans-serif;
      font-size: 14px;
      color: $color-grey;
      text-align:center;
      margin-bottom: 15px;
    }
  }

  h2{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 42px;
    color: $color-grey;
    text-align:center;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}
