@font-face {
  font-family: 'Montserrat-Black';
  src: url(font-path("Montserrat-Black.otf")) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(font-path("Montserrat-Bold.otf")) format("opentype");
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(font-path("Montserrat-ExtraBold.otf")) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(font-path("Montserrat-Light.otf")) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(font-path("Montserrat-Regular.otf")) format("opentype");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(font-path("Montserrat-SemiBold.otf")) format("opentype");
}

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url(font-path("Montserrat-UltraLight.otf")) format("opentype");
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url(font-path("Proxima-Nova-Alt-Bold.otf")) format("opentype");
}
